.auth-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* Use the generated premium background image */
  background-image: url('/assets/images/auth_premium_bg.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* A very subtle tint to ensure the forms pop */
  background: rgba(248, 250, 252, 0.1);
  z-index: 1;
}

.auth-content {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host {
  display: block;
}